.about-img {
    border: 5px solid #f2f2f2;
    height: 180px;
    width: 180px;

}

#section{
    margin-top: 8%;
  }

@media screen and (max-width: 400px) {
    .about-h1 {
        font-size: 1.8em;
    }
    #section {
        margin-top: 58%;
    }
    #MTTText{
        margin-top: -12%;
        margin-bottom: 30px;
        font-size: 1.5em;
      }
      #aboutText{
        margin-top: -11%;
        font-size: .71em;
      }
    
}

@media screen and (min-width: 401px) and (max-width: 558px) {
    #section{
        margin-top: 38%; 
      }
      #MTTText{
        margin-top: -12%;
        margin-bottom: 30px;
      }

      #aboutText{
        margin-top: -7.8%;
        font-size: .90em;
      }
}

@media screen and (min-width: 558px) and (max-width: 733px) {
    #section{
        margin-top: 18%; 
      }
      #aboutText{
        margin-top: -5%;
        font-size: 1em;
      }
}


@media screen and (min-width: 734px) and (max-width: 992px) {
    #section{
        margin-top: 18%; 
      }
      #aboutText{
        margin-top: -5%;
      }

}