.post {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding-left: 20px;
    border-left: 4px solid #7e32e1;
}

.forum_screen {
    width: 65%;
    height: 75vh;
    overflow: scroll;
    margin: auto;
}

.replies {
    display: flex;
    flex-direction: column;
    margin: 5px 30px;
    /* background-color: gainsboro; */
    padding-left: 20px;
    border-left: 4px solid #5e72e4;
}
#create_post Input{
    background: transparent;
}
#create_post Input:focus{
    outline: none;
    background: transparent;

}
#post_form Input:focus{
    outline: none;
    background: transparent;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 75%;
    height: 5vh;
    border: 1px solid #7e32e1;
}

.Add_Modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forum_title{
    text-align: center;
    padding: 50px 50px 0px 50px;
    border-bottom: #7e32e1 1px solid;
    margin: auto 100px ;
}

#post {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 75%;
    height: 10vh;
    background-color: beige;
    border: 1px solid #7e32e1;
}

.forum_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}