


#UploadFileBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 20px 140px; */
    /* height: 200px; */
    width: 75%;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background: white;
    box-shadow: 5px 5px 5px #5e72e4;
}
#UploadFileBox:hover{
    background: #dee2e6;
  cursor: pointer;
  transition: .7s;
  }
#InputText{
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    /* border: 1px solid #000; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#userInputText{
  width: 57%;
  align-self: center;
}
#InputText button{
  /* background: #dee2e6; */
  margin: 20px;
  width: 20%;
  align-self: center;

}

#typeWriter h2{
  padding-top: 50px;
}

#responceText{
    margin: 20px 150px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #dee2e6;
    /* box-shadow: 5px 5px 5px #5e72e4; */
}

#typeWriter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutCard{
  padding-top: 3%;
  background: rgba(209, 206, 206, 0.687);

}
#MTTText{
  margin-bottom: 55px;
}
.Card{
}
#aboutText{
  display:flex;
  justify-content: start;
  align-items: start;
  padding: 20px;
  margin: 20px;
  color: white;
  margin-bottom: 30px;

}

.profile-page h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

#typeWriter h3{
  margin: 20px;
}
#typeWriter section{
margin-top: 10%;
}
#profileSect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PPText{
  margin-top: 150px;
  }
.PPText span{
  color: white;
}
#typeTopic{
  display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 50px auto;
    border: 2px solid ;
    width: 1000px;
    padding: 50px;
    font-family:'Cormorant Garamond', serif;
    /* color: #32325d; */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.wave{
  transform: rotate(0.5turn);
}
#hero-text{
  background: #8965e0;
  width: 100%;
  margin-bottom: 0;
  padding-top: 100px;
  /* padding: 30px 10px; */
  display: flex;
  justify-content: space-evenly;

}
#hero-text p{
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
#hero-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: space-evenly;
  justify-content: space-evenly;
  border: #bf1414;
}
#hero-buttons Button{
 /* color: #8965e0; */
}
.active{
  background: #4403de;

}


#Loading{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
}
#fileName{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 10%;
}

@media screen and (max-width: 400px){
  .profile-page p{
    display: relative;
    top: 20px;
    text-align: center;
    margin-right: 20px;
  }
  .active{
    background-color: transparent;
    text-decoration: underline;
  }
  
  #aUText{
    font-size: 2000px;
  }
  .row{
    margin-top: 100px;
  }
}

@media screen and (max-width: 991px){

  img{
    width: 200;
  height: 150px;
  /* margin: 30px; */
  }
  #ContSum{
    width: min-content;
  }

 
  .row{
    margin-top: 100px;
  }
  
}