


#UploadFileBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 140px;
    height: 200px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    /* background: #dee2e6; */
    box-shadow: 5px 5px 5px #5e72e4;
}
#UploadFileBox:hover{
    background: #dee2e6;
  cursor: pointer;
  transition: .7s;
  }
#InputText{
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    /* border: 1px solid #000; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
#InputText button{
  /* background: #dee2e6; */
  margin: 20px;
}

#responceText{
    margin: 20px 150px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #dee2e6;
    /* box-shadow: 5px 5px 5px #5e72e4; */
}

#typeWriter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#typeWriter h3{
  margin: 20px;
}
#profileSect{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PPText{
  margin-top: 150px;
  }
.PPText span{
  color: white;
}

img{
  width: 300px;
  height: 200px;
  
}
#Loading{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
}
#fileName{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20px;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 10%;
}

@media screen and (max-width: 400px){
  img{
    width: 200;
  height: 150px;
  /* margin: 30px; */
  }
  
  .profile-page p{
    display: relative;
    top: 20px;
    text-align: center;
    margin-right: 20px;
  }
  #ContSum{
    width: min-content;
  }
  #aUText{
    font-size: 2000px;
  }
  .row{
    margin-top: 100px;
  }
}

@media screen and (max-width: 991px){
  img{
    width: 200;
  height: 150px;
  /* margin: 30px; */
  }
 
  .row{
    margin-top: 100px;
  }
}